@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');

:root {
  --dark-gray: #121212;
  --primary: white;
  --accent: #ccd5eb;
  --secondary: #E6E6FA;
}

.App {
  text-align: center;
  font-family: 'Catamaran', sans-serif;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin: 0 15%;
}

.icon {
  color: black;
  padding: 0 20px;
}

.nav {
  z-index: 100;
  width: 100%;
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  background-color: var(--primary);
  box-shadow: 0 3px 2px -2px gray;
}

.nav div:nth-child(1) {
  text-align: left;
  padding-left: 10px;
}
.nav div:nth-child(2) {
  text-align: right;
  padding-right: 20px;
}

.nav-item div {
  display: inline-block;
  padding: 0 20px;
}

h1, h2 {
  font-size: 20px;
  letter-spacing: 1px;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary);
  opacity: 0.5;
  border-radius: 30px;
  margin: 200px auto 50px auto;
  justify-content: center;
  width: 80%;
  height: 100%;
}

.inner {
  margin: 30px;
  border: 3px dashed gray;
  background-color: var(--accent);
}

#icon {
  padding: 0 20px;
}

#upload-icon {
  font-size: 100px;
  padding-top: 60px;
  margin: 30px 0 20px 0;
}

.fileUpload {
  margin-bottom: 40px;
  text-align: center;
  width: 270px;
}

[type="file"] {
  font-family: 'Baloo 2';
  font-size: 18px;
}

[type="file"]::-webkit-file-upload-button {
  background: #5473b8;
  border: 1px solid #5473b8;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  outline: none;
  padding: 3px 15px;
  text-transform: uppercase;
  font-family: 'Baloo 2';
  font-size: 16px;
  transition: all 1s ease;
  margin-right: 20px;
}
  
[type="file"]::-webkit-file-upload-button:hover {
  background: #fff;
  border: 1px solid #535353;
  color: #000;
}

.box {
  width: 99%;
  display: flex;
  margin-bottom: 40px;
}

.cell {
  width: 33%;
  height: 200px;
  padding: 30px;
}

#box-icon {
  font-size: 50px;
  margin-bottom: 10px;
}

#uploads {
  display: flex;
  margin: auto;
  justify-content: center;
  /* gap: 20px; */
}

#submit-button {
  border: none;
  font-size: 21px;
  cursor: pointer;
  font-weight: 600;
  font-family: 'Baloo 2';
  background-color: var(--primary);
}

h3 {
  font-family: 'Baloo 2';
  font-weight: 600;
  margin-bottom: 40px;
  font-size: 25px;
}

#file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

p {
  font-size: 15px;
}
#result {
  text-align: left;
  margin-left:10%;
}
ol {
  width: 80%;
  margin: auto;
  text-align: left;
  word-wrap: break-word;
  margin-bottom: 80px;
}

ol li {
  padding: 10px;
}

ol a {
  color:#121212;
  text-decoration: none;
  transition: color 500ms;
}

ol a:hover {
  color: #405e9e
}